{% extends "zella/base.html" %}

{% block content %}

  <div class="bg-sky-100 fixed top-0 right-0 left-0 bottom-0 flex justify-center items-center">
    <div class="max-w-lg mx-auto text-white bg-slate-800 p-3">
        <h1 class="flex flex-col text-center">Register</h1>
        <form class="flex flex-col p-3" action="" method="post">
            <label for="username">User name:</label>
            <input class="text-black px-3" type="text" name="username" id="username">
            <label for="firstname">First Name:</label>
            <input class="text-black px-3" type="text" name="firstname" id="firstname">
            <label for="lastname">Last Name:</label>
            <input class="text-black px-3" type="text" name="lastname" id="lastname">
            <label for="email">Email:</label>
            <input class="text-black px-3" type="email" name="email" id="email">
            <label for="password">Password:</label>
            <input class="text-black text px-3" type="password" name="password" id="password">
            <label for="confirm_password">Confirm Password:</label>
            <input class="text-black text px-3" type="password" name="confirm_password" id="confirm_password">

            {% if form.errors %}
                <p class="text-red-600">Sorry, that's not a valid username or password</p>
            {% endif %}

            <input class="bg-green-700 w-max py-1 px-3 mx-auto mt-4 rounded-md" type="submit" value="Submit" />
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </form>
    </div>
  </div>

{% endblock %}